<div class="sr5-hud">
    <div class="sr5-hud mainContent grid col7">
            <div class="header-bar row1-col3start">
                <div class="icon-character left">
                    <i class="fa-solid fa-user-secret"></i>
                </div>
                <div class="header">{{this.actor.name}}</div>
                <div class="icon-minimize right">
                    <i class="fa-solid fa-minimize"></i>
                </div>

                <skill-list-nav class="skill-list-active">
                    <div class="empty-selector"></div>
                    <input type="checkbox" id="toggle-skill-list" name="sr5-hud-skills" class="sr5-hud-skill-list" hidden>
                    <label for="toggle-skill-list" class="sr5-hud-nav-switch"><i class="fa-solid fa-chevron-up sr5-hud-icons"></i></label>
                    <div class="sr5-hud-skill-container">
                        <skill class="sr5-hud-skill">
                            <div class="skillname">Perception</div>
                            <div class="skill-value">6</div>
                            <i class="fa solid fa-list sr5-hud-icons skill-icon-list"></i>
                        </skill>
                        <skill class="sr5-hud-skill">
                            <div class="skillname">Perception</div>
                            <div class="skill-value">6</div>
                            <i class="fa solid fa-list sr5-hud-icons skill-icon-list"></i>
                        </skill>
                        {{#each this.data.skills}}
                            <skill class="sr5-hud-skill">
                                <div class="skillname" data-uuid="{{this.id}}">{{localize this.label}}</div>
                                <div class="skill-value" >{{this.value}}</div>
                            </skill>
                        {{/each}}
                    </div>
                </skill-list-nav>
            </div>
            <!--Avatar-->
            <avatar class="avatar grid-row2start-end6">
                <section class="section-wrapper">
                    <avatar-image class="avatar-image">
                        <img class="sr5-hud-character" src="{{this.actor.image}}" Title="{{this.actor.name}}">
                    </avatar-image>
                    <!--Move section, not sure yet how bring in the movement meters into a bar, maybe gradiant coloring-->
                    <div class="movement">
                        
                    </div>
                    <div class="sr5-hud-hp-box">
                        {{#for 0 this.actor.physTrack.value}}
                        <div class="sr5-hud-physik-filled sr5-hud-track"></div>
                        {{/for}}
                        {{#for this.actor.physTrack.value this.actor.physTrack.max}}
                        <div class="sr5-hud-physik sr5-hud-track"></div>
                        {{/for}}
                    </div>
                    <div class="sr5-hud-stun-box">
                        {{#for 0 this.actor.stunTrack.value }}
                        <div class="sr5-hud-stun-filled sr5-hud-track"></div>
                        {{/for}}
                        {{#for this.actor.stunTrack.value this.actor.stunTrack.max}}
                        <div class="sr5-hud-stun sr5-hud-track"></div>
                        {{/for}}
                    </div>
                </section>
            </avatar>
            <div class="end-bar hidden">
            </div>
            <!--Main End, Effects Start-->
            <effects class="effects-icons-bar grid-row2start-end6">
                <div class="effects">
                    {{#each this.actor.statuses}}
                    <div class="effect-container" data-uuid="{{this.uuid}}">
                        <img src='{{this.img}}' title='{{localize this.name}}'>
                        <div class="effect-text">'{{localize this.name}}'</div>
                    </div>
                    {{/each}}
                </div>
            </effects>
            <!--Effects End, Skills and Actions Start-->
            <div class="nav-selector-actions-skills">
            </div>
            <div class="actions-bar col10">
                <!-- This is for the Weapon Boxes-->
                <weapon class="sr5-hud-action sr5-hud-weapon">
                    <!--Here a Weapon Icon for a Gun-->
                    <input type="checkbox" id="toggle-gun" name="radio-sr5-hud" class="sr5-hud-checkbox" hidden>
                    <label for="toggle-gun" class="sr5-hud-nav-switch"><i class="fa-solid fa-circle-plus sr5-hud-icons"></i></label>
                    {{#if this.data.weapons.rangedWeapons}}
                    <div class="list-items-container">
                        {{#each this.data.weapons.rangedWeapons}}
                        <div class="sr5-hud-list-item" data-uuid="{{this.uuid}}">
                            <img src='{{this.img}}' title='{{this.name}}'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </weapon>
                <weapon class="sr5-hud-action sr5-hud-weapon">
                    <!--Here a Weapon Icon for a Gun-->
                    <input type="checkbox" id="toggle-weapon" name="radio-sr5-hud" class="sr5-hud-checkbox" hidden>
                    <label for="toggle-weapon" class="sr5-hud-nav-switch"><i class="fa-solid fa-circle-plus sr5-hud-icons"></i></label>
                    {{#if this.data.weapons.rangedWeapons}}
                    <div class="list-items-container">
                        {{#each this.data.weapons.rangedWeapons}}
                        <div class="sr5-hud-list-item" data-uuid="{{this.uuid}}">
                            <img src='{{this.img}}' title='{{this.name}}'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </weapon>
                <!--This is the box for Melee Weapons only-->
                <weapon class="sr5-hud-action sr5-hud-hand">
                    <!--Here a Weapon icon for hand-->
                    <input type="checkbox" id="toggle-hand" name="radio-sr5-hud" class="sr5-hud-checkbox" hidden>
                    <label for="toggle-hand" class="sr5-hud-nav-switch"><i class="fa-solid fa-circle-plus sr5-hud-icons"></i></label>
                    {{#if this.data.weapons.meleeWeapons}}
                        <div class="list-items-container">
                            {{#each this.data.weapons.meleeWeapons}}
                            <div class="sr5-hud-list-item" data-uuid="{{this.uuid}}">
                                <img src='{{this.img}}' title='{{this.name}}'>
                                <p>{{this.name}}</p>
                            </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </weapon>
                <!--This is for Actions-->
                {{#if this.data.actions}}
                <actions class="sr5-hud-action sr5-hud-actions">
                    <input type="checkbox" id="toggle-action" name="radio-sr5-hud" class="sr5-hud-checkbox" hidden>
                    <label for="toggle-action" class="sr5-hud-nav-switch">Actions</label>
                    <div class="list-items-container">
                            {{#each this.data.actions}}
                            <div class="sr5-hud-list-item" data-uuid="{{this.uuid}}">
                                <img src='{{this.img}}' title='{{this.name}}'>
                                <p>{{this.name}}</p>
                            </div>
                            {{/each}}
                    </div>
                </actions>
                {{/if}}
                <!--This is for Contacts-->
                {{#if this.data.contacts}}
                <contacts class="sr5-hud-action sr5-hud-contacts">
                    <input type="checkbox" id="toggle-contacts" name="radio-sr5-hud" class="sr5-hud-checkbox" hidden>
                    <label for="toggle-contacts" class="sr5-hud-nav-switch">Contacts</label>
                    <div class="list-items-container">
                            {{#each this.data.contacts}}
                            <div class="sr5-hud-list-item" data-uuid="{{this.uuid}}">
                                <img src='{{this.img}}' title='{{this.name}}'>
                                <p>{{this.name}}</p>
                            </div>
                            {{/each}}
                    </div>
                </contacts>
                {{/if}}
                {{#if this.data.spells}}
                <!--This is for Spells-->
                <spells class="sr5-hud-action spells">
                    <input type="checkbox" id="toggle-spell" name="radio-sr5-hud" class="sr5-hud-checkbox" hidden>
                    <label for="toggle-spell" class="sr5-hud-nav-switch"></label>
                    <!--Spell background image-->   
                    <div class="list-items-container">
                        {{#each this.data.spells.combat}}
                        <div class="r5-hud-list-item sr5-combat-spell" data-uuid="{{this.uuid}}">
                            <img src='{{this.img}}' title='this.name'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                        {{#each this.data.spells.detection}}
                        <div class="sr5-hud-list-item sr5-detection-spell" data-uuid="{{this.uuid}}">
                            <img src='{{this.img}}' title='this.name'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                        {{#each this.data.spells.manipulation}}
                        <div class="sr5-hud-list-item sr5-manip-spell" data-uuid="{{this.uuid}}">
                            <img src='{{this.img}}' title='this.name'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                        {{#each this.data.spells.illusion}}
                        <div class="sr5-hud-list-item sr5-illusion-spell" data-uuid="{{this.uuid}}">
                            <img src='{{this.img}}' title='this.name'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                        {{#each this.data.spells.health}}
                        <div class="sr5-hud-list-item sr5-health-spell" data-uuid="{{this.uuid}}">
                            <img src='{{this.img}}' title='this.name'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                    </div>
                </spells>
                {{/if}}
                {{#if this.data.adeptPowers}}
                <!--This is for Adept Powers-->
                <powers class="sr5-hud-action powers">
                    <!--Adept Power background image-->
                    <input type="checkbox" id="toggle-power" name="radio-sr5-hud" class="sr5-hud-checkbox" hidden>
                    <label for="toggle-power" class="sr5-hud-nav-switch">Power</label>
                    <div class="list-items-container">
                            {{#each this.data.adeptPowers}}
                            <div lass="sr5-hud-list-item sr5-hud-power" data-uuid="{{this.uuid}}">
                                <img class="power-image" src='{{this.img}}' title='{{this.name}}'>
                                <p>{{this.name}}</p>
                            </div>
                            {{/each}}
                    </div>
                </powers>
                {{/if}}
                {{#if this.data.qualities}}
                <!--This is for Advantages Disadvantages-->
                <qualities class="sr5-hud-action quality">
                    <!--Advantages background image-->
                    <input type="checkbox" id="toggle-quality" name="radio-sr5-hud" class="sr5-hud-checkbox" hidden>
                    <label for="toggle-quality" class="sr5-hud-nav-switch">Advantages</label>
                    <div class="list-items-container">
                        {{#each this.data.qualities.positive}}
                        <div class="sr5-hud-list-item sr5-hud-quality hud-positive" data-uuid="{{this.uuid}}">
                            <img class="action-image" src='{{this.img}}' title='{{this.name}}'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                        {{#each this.data.qualities.negative}}
                        <div class="sr5-hud-list-item sr5-hud-quality hud-negative" data-uuid="{{this.uuid}}">
                            <img class="action-image" src='{{this.img}}' title='{{this.name}}'>
                            <p>{{this.name}}</p>
                        </div>
                        {{/each}}
                    </div>
                </qualities>
                {{/if}}
            <!--End Bar moved to the end once end bar after image area is clicked-->
            <div class="end-bar visible gone"></div>
    </div>
</div>